@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Sevillana&display=swap');

*{
    margin:0;
    padding: 0;
}

nav{
    background-color: rgb(37,9,37);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;      /*DOUBT1*/
    align-items: center;    /*vertical align*/
    padding: 0 12px;
    font-family: 'Roboto',sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    /*background-color: yellow;*/
    display: flex;
    /*margin: auto; NO USE OF margin auto when we have flex*/
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;  
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Roboto',sans-serif;
}

.box{ /*div inside container*/
    border: 2px solid black;
    font-size: 8vw;                     /*Relative and Absolute Length*/
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(162, 215, 47);
}

/*
- Whatever will be written after will be overriden.
.box:hover{
    background-color: rgb(210, 76, 159);
}
*/

.gameInfo{
    padding: 0 34px;
    font-family: 'Amatic SC', cursive;
}

.imgbox{
    display: none;
}

/*Utility Class*/
.bt-0{
    border-top: 0;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bb-0{
    border-bottom: 0;
}

/*If the padding property has four values:
padding:10px 5px 15px 20px;
top padding is 10px
right padding is 5px
bottom padding is 15px
left padding is 20px
If the padding property has three values:

padding:10px 5px 15px;
top padding is 10px
right and left padding are 5px
bottom padding is 15px
If the padding property has two values:

padding:10px 5px;
top and bottom padding are 10px
right and left padding are 5px
If the padding property has one value:

padding:10px;
all four paddings are 10px
*/